.game_content {
	flex-direction: column;
	align-items: center;
}

.game-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e7b93c, #e07935, #d52323);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.game-form button.btn.btn-primary {
	width: 420px;
	height: 70px;
	font-size: 45px;
}

.like-form{
	display: flex;
	width:420px;
	justify-content: space-between;
}

.like-form button {
	width: 200px;
	height: 70px;
	font-size: 45px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
